{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<!DOCTYPE html>
<html>
<main class="p-3">

    <body>
        <h1>{{name}}</h1>
        <hr>
        <br>
        <ul>
            {{#each users}}
            <li>
                <mark> <b>{{name}} ({{gender}}, {{age}} years old) </b></mark>
                <hr>
                <ul>
                    {{#each friends}}
                    <br>
                    <li><b>{{name}} </b>({{gender}}, {{age}} years old)</li>

                    {{#if mutual_friends}}
                    <hr>
                    <ul>
                        {{#each mutual_friends}}

                        <li>{{name}} ({{gender}}, {{age}} years old)</li>
                        <ul>
                            {{#each mutual_friends}}
                            <p>
                                <li><small>{{name}} ({{gender}}, {{age}} years old)
                                </li>
                                </small>
                            </p>{{/each}}
                        </ul>
                        <hr>
                        {{/each}}
                    </ul>
                    {{/if}}
            </li>



            {{#each groups}}
            <br>
            <b>
                <p><mark>{{name}}</mark></p>
            </b>
            <ul>
                <p>{{description}}</p>
            </ul>
            <br>


            {{#each members}}

            <li><b>{{name}} </b>({{gender}}, {{age}} years old)
            </li>
            {{/each}}
            {{/each}}
        </ul>

        {{/each}}


        </li>
        {{/each}}
        </ul>
        <br>
        <br>
        <br>
        {{#each users}}

        {{#each groups}}

        <li><mark><b>{{name}}</li></mark></b>
        <br>
        <ul>
            <p>{{description}}</p>
            <ul>
                {{#each members}}
                <li><b>{{name}} </b>({{gender}}, {{age}} years old)
                </li>
                <br>
                {{/each}}
            </ul>
            </li>
            {{/each}}
        </ul>
        </li>
        {{/each}}
        </ul>
        {{#each users}}
        {{/each}}

    </body>
</main>

</html>