<header>
    <h1 class="text-center">{{page_header.title}}</h1>
    <p class="text-center text-secondary text-uppercase">{{page_header.description}}</p>
</header>

<main>
    <div class="card">
        <div class="card-body">
            <div class="text-end display-6">{{section.about_us.title_list.main}}</div>
            <hr>
            <h2 class="text-end">{{section.about_us.title_list.sub}}</h2>
            <hr>
            <button class="btn btn-outline-info">{{section.about_us.button.text}}</button>
        </div>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="text-secondary display-5">{{section.advantage.title}}</div>
            <br>
            <div class="card">
                <div class="card-body">
                    <div class="text-secondary  display-4">{{section.advantage.efficiency.title}}</div>
                    <hr>
                    <h6>{{section.advantage.efficiency.sub_title}}</h6>
                    <hr>
                    <p>{{section.advantage.efficiency.description}}</p>
                    <hr>
                    <button class="btn btn-outline-warning">{{section.advantage.efficiency.button}}</button>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-body">
                    <div class="text-center text-secondary  display-4">
                        {{section.advantage.innovation.title}}</div>
                    <hr>
                    <h6 class="text-center">
                        {{section.advantage.innovation.sub_title}}</h6>
                    <hr>
                    <p class="text-center">
                        {{section.advantage.innovation.description}}</p>
                    <hr>
                    <button class="btn btn-outline-warning">
                        {{section.advantage.innovation.button}}</button>
                </div>
            </div>

            <hr>
            <div class="card">
                <div class="card-body">
                    <h4 class="text-end" "text-secondary">{{section.advantage.collaboration.title}}</h4>
                    <hr>
                    <div class="text-end display-4">{{section.advantage.collaboration.sub_title}}</div>
                    <hr>
                    <p class="text-end">{{section.advantage.collaboration.description}}</p>
                    <hr>
                    <button class="btn btn-outline-warning">
                        {{section.advantage.collaboration.button}}</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="display-5">{{section.agreement.title}}</div>
            <div class="card">
                <div class="card-body">
                    <h5>{{section.agreement.info.sub_title}}</h5>
                    <div class="card">
                        <div class="card-body">
                            <p>{{section.agreement.info.detail.text}}</p>
                            <br>
                            <button class="btn btn-success">
                                {{section.agreement.info.detail.button}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>