<div class="col-sm-8">
    <div class="container">
        <div class="row">
            {{#each goodsList}}
            <div class="col-md-6">
                <div class="card">
                    <img src="{{img}}" alt="{{name}}">
                    <div class="card-body p-3">
                        {{#if isHot}}
                        <button class="btn btn-warning btn-sm rounded-pill mx-3 my-3 ms-6 text-white">HOT</button>
                        {{/if}}
                        {{#if isNew}}
                        <button class="btn btn-primary btn-sm rounded-pill mx-3 my-3 ms-9">New</button>
                        {{/if}}
                        <p>{{#if isFast}}
                            <button class="btn btn-success">Швидка
                                доставка</button>
                            {{/if}}
                            {{#if isFree}}
                            <button class="btn btn-primary">Безкоштовна
                                доставка</button>
                            {{/if}}
                        </p>
                        <h5 class="p-3">{{name}}</h5>
                        <ul>
                            <p>{{review.amount}} {{review.text}}</p>
                            <p><b>{{price}}</b></p>
                            <p>{{delivery}}</p>
                            <div class="d-grid gap-2 justify-content-md-start">
                                {{#each buttons}}
                                <a href="{{link}}"
                                    class="btn d-block {{#if this.isPrimary}}btn-primary{{/if}}{{#if this.isSecondary}}btn-secondary{{/if}}">{{this.text}}</a>
                                {{/each}}
                            </div>
                            {{#each characteristics}}
                            <li>{{title}}: {{value}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>